{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Web | Portofolio</title>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block content %}
  {% endblock content %}
  <div class="container">
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Portofolio</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>   
            </ul>
        </nav>
    </div>
    <main class="content">
          <section class="hero">
              <img src="online.png" alt="">
          <div class="hero-content">
              <h1>Profesi</h1><br></h2>Mahasiswa UIN Maulana Malik Ibrahim Malang</h2><br><br>   
<p>My name is Iftah Nur Fadlilah. I am a new student at this Collage. I was born in Lamongan, March 8th, 2000. My hobbies are writing and reading. If there is a competition, I would love to take part as long as it relates to the world of authorship. It was my first step to achieve my goal of becoming a famous writer. Yep, that’s all that I can tell about myself. Thank you.</p>
<a href="" class="action-btn">Profile Saya</a>
          </div>
            </section>
    </div>
    <div class="footer">
        <footer>
        <ul>
            <li><img src="instagram.png" alt=""><p>Instagram</p></a></li>
            <li><img src="facebook.png" alt=""><p>Facebook</p></a></li>
            <li><img src="twitter.png" alt=""><p>Twitter</p></a></li>
            <li><img src="telegram.png" alt=""><p>Telegram</p></a></li>
        </ul>
        </footer>
    </div>
</div>    
</body>

</html>
