{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{judul}}</title>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block content %}
  {% endblock content %}
  <h1>Selamat Datang</h1>
  <h2>{{nama}}</h2>
  <h2>{{nim}}</h2>
  <h2>Registrasi</h2>

  <form method="post">
    {% csrf_token %}
    <label>Nama</label>
    <input type="text" name="nama" id="nama">
    <br>
    <label>Nim</label>
    <input type="text" name="nim" id="nim">
    <br>
    <button type="submit">Daftar</button>
  </form>

</body>

</html>
